body{
    
    background-color:rgb(179, 241, 243);
    background-repeat: no-repeat;
    background-position: left;  

    background-size: cover;
}
.section{
    width: 100%;
    height:auto;
   /*  background:#f5f5f5; */
   
    padding:1px 10% 0px 20%; 
}
.section article{
    width:100%;
    height:auto;
    background-color:rgba(179, 241, 243,0.6);
    
    padding: 2%;
   
}
.section article h3{
    font-family:sans-serif;
    text-align: center;
    color: blue;
    margin-bottom: 10px;
}
.section article h4{
    font-family:sans-serif;
    text-align: center;
    color: crimson;
    padding-bottom: 20px;
}
.container{
    width:100%;
    height: auto;
    padding:7% 10% 10% 7%; 
    text-align: center;
    border-radius: 2px;
    background:white;
    line-height: 40px;
    box-shadow:1px 1px 2px 2px;
}
.name{
    display: flex;
    justify-content: space-around;
}
.name #standard{
    width:50%;
}
.contact{
    display: flex;
    justify-content: space-around;
    
}
.age_date{
    display: flex;
    justify-content: space-around;
  
}
.another{
    width: 100%;
    text-align: center;
    font-size: 11px;
}
.send{
    width: 100%;
    text-align: center;
}
.reason{
    width: 100%;
    text-align: center;
}
.card{
    display: flex;
    justify-content:space-evenly;
  /*   background-color: gray;  */
    width:40%; 
    padding: 25px; 
    font-size: 18px;  
}
.details{
   /*  overflow:auto; */

    display: flex;
    justify-content: space-evenly;
    background:white;
    width:100%;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 25px;
    
}
.hid{
   /*  background-color: gray; */
    /* position:relative; */
    top:0px;
    left:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    
   
}
.hid .cont{
    padding-right: 150px;
    
    position: absolute;
}
.cont details summary{
    position:relative;
    left:-100px;
}

.contact,.personal{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    width: 100%;
}
.contact p,.personal p{
    border-spacing: 250px;
    
}
.datas{
    background-color: gray;
    position:absolute;
    /* left:-600px; */
    /* width:700px; */
    text-align: center;
    line-height:45px;
    position: fixed;
}